.dashboard {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.stats-cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    transition: transform 0.3s, box-shadow 0.3s, background 1.5s ease;
}

.card h2 {
    margin-bottom: 10px;
}

.card p {
    font-size: 24px;
    font-weight: bold;
}

/*.temperature-card {*/
/*    background: linear-gradient(135deg, #f39c12, #e67e22);*/
/*}*/

/*.humidity-card {*/
/*    background: linear-gradient(135deg, #3498db, #2980b9);*/
/*}*/

/*.light-card {*/
/*    background: linear-gradient(135deg, #9b59b6, #8e44ad);*/
/*}*/

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.chart-card {
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chart-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.device-control {
    margin-top: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
